.complete-aside-bar{
    height: 100%;
    display: flex;
}

.complete-aside-bar .summary {
    width: 15rem;
    height: 100%;
    background: var(--second-bg);
    overflow: auto;
    position: relative;
    transition: all 0;
    border-right: 2px solid var(--primary-color);
}

.complete-aside-bar .resizer {
    width: 5px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0;
}


.aside-bar{
    background: var(--background-color);
    height: 100%;
    width: 4rem;
    border-right: 2px solid var(--primary-color);
}

.aside-bar button{
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--background-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.aside-bar button:hover img{
    filter: grayscale(0%) brightness(90%);
    padding: 12%;
}

.aside-bar button img{
    padding: 15%;
    width: 90%;
    filter: grayscale(100%) brightness(50%);
    transition: filter 0s;
    transition: padding 0.3s;
}

body.light .aside-bar button:hover img{
    filter: invert(1) sepia(1) saturate(5) hue-rotate(200deg);
}