.change-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    border-radius: 5px;
}

.mode-toggle {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mode-toggle.chill {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.mode-toggle.dev {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.mode-toggle:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}