.change-language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    padding: 0.3rem 1rem;
    background: var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.language-label {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
}

.language-select {
    background: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.language-select:hover {
    background: var(--secondary-color);
    color: var(--background-color);
}

.language-select option {
    color: var(--text-color);
    background: var(--primary-color);
    font-weight: bold;
}

/* Style personnalisé pour la flèche du menu déroulant */
.language-select::after {
    content: '▼';
    position: absolute;
    right: 1rem;
    font-size: 0.8rem;
    pointer-events: none;
    color: var(--text-color);
}

/* Animation d'ouverture */
.language-select:focus {
    outline: none;
    border-color: var(--accent-color);
}
